.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.dropdown-wrapper {
  text-align: center;
}
.converter-row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.equal {
  font-size: 24px;
  font-weight: bold;
}
input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
}
